<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imhere.imhere">

    <application
        android:allowBackup="true"
        android:icon="@drawable/imherelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/imherelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfessorActivity" />
        <activity android:name=".AlunoActivity" />
        <activity android:name=".PessoaActivity" />
        <activity android:name=".ListaPessoaActivity" />
        <activity android:name=".CadastroTurmaActivity" />
        <activity android:name=".AlteraAlunoActivity" />
        <activity android:name=".ChamadaActivity" />
        <activity android:name=".OpcoesActivity" />
        <activity android:name=".AlteraTurmaActivity" />
        <activity android:name=".ListaTurmaActivity" />
        <activity android:name=".AlunoCode" />
        <activity
            android:name=".LeitorQR"
            android:label="@string/title_activity_leitor_qr"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

</manifest>